language: python
sudo: false
python:
    - 2.7
    - 3.3
    - 3.4
    - 3.5
    - pypy
    - pypy3
install:
    - pip install zc.buildout
    - buildout
script:
    - bin/test
    - cd docs; make SPHINXBUILD=../bin/sphinx-build doctest
notifications:
    email: false
cache:
  directories:
    - eggs
