include *.txt
include *.rst
include *.py
include buildout.cfg
include tox.ini

recursive-include docs *
recursive-include transaction *

global-exclude *.dll
global-exclude *.pyc
global-exclude *.pyo
global-exclude *.so
global-exclude coverage.xml

prune docs/_build

include .coveragerc
include .travis.yml
